QMainWindow{
    background-color: #1a181b;
}
/* Edit Labels */

QLabel#log_title{
    font-family: Bebas Neue;
    font-size: 80px;
    color: darkmagenta;
}

QLabel#version_text{
    font-family: Roboto;
    font-size: 12px;
    font-weight: 800;
    color: #ffffff;
}

QLabel#input_text{
    font-family: Roboto;
    font-weight: 900;
    font-size: 20px;
    color:white;
}

QLabel#info_title{
    font-family: Bebas Neue;
    font-weight: 900;
    font-size: 25px;
    color: greenyellow;
}

QLabel#info_text{
    border: 3px solid green;
    background-color: goldenrod;
}

QLabel#icons_zone{
    background-color: red;
}

QLabel#select_zone{
    background-color: green;
}

QLabel#table_border{
    background-color: blue;
}

QLabel#left_cont{
    background-color: #071120;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

QLabel#right_cont{
    background-color: grey;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

QLabel#student_cap{
    background-image:url('img/prof_cap.png')
}

/*QLabel#profile_img{
    background-image:url('img/profile.png')
} */
/* Edit Inputs */

QLineEdit#input_logpg{
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Courier New';
    font-weight: 800;
}

/* Edit Buttons */

QPushButton#btn_log{
    border-radius: 6px;
    color: black;
    font-weight: 900;
    background-color: white;
}

QFrame#ResetPassword{
    background-color: red;
}