QMainWindow{
    background-color: #1a181b;
}
/* Edit Labels */
QLabel#version_text{
    font-family: Roboto;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: 800;
    color: #afa9a993;
}

QLabel#icons_zone{
    background-color: #1a181b;
}

QLabel#select_zone{
    background-color: #1a181b;
}

QLabel#table_border{
    background-color: #1a181b;
}

QLabel#left_cont{
    background-color: #071120;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

QLabel#right_cont{
    background-color:  #0F4D3A;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

QLabel#student_cap{
    background-image:url('img/login_register/std_cap.png');
}

QLabel#admin{
    background-image:url('img/login_register/admin.png');
}

QLabel#teacher{
    background-image:url('img/login_register/teacher.png');
}

QLabel#profile_img{
    background-image:url('img/login_register/profile.png');
} 

QLabel#profcap{
    background-image:url('img/login_register/prof_cap.png');
}

QLabel#CH{
    background-image:url('img/fac/CH.png');
}

QLabel#MEC{
    background-image:url('img/fac/MEC.png');
}

QLabel#CI{
    background-image:url('img/fac/CI.png');
}

QLabel#DIMA{
    background-image: url('img/fac/DIMA.png');
}

QLabel#ETTI{
    background-image: url('img/fac/ETTI.png');
}

QLabel#IEEIA{
    background-image: url('img/fac/IEEIA.png');
}

QLabel#AC{
    background-image: url('img/fac/AC.png');
}

QLabel#app_logo{
    background-image: url('img/app_logo.png');
}

QLabel#table_header{
    color:white;
    font-family: Roboto;
    font-size:14px;
    font-weight: 900;
}

QLabel#semester_text{
    color: white;
    font-family: Roboto;
    font-size:12px;
    font-weight: 900;
}

QLabel#teachpg_left{
    background-image: url('img/teach/left_logo.png');
}

QLabel#frame_title{
    color:white;
    font-family: Bebas Neue;
    font-size: 50px;
}

QLabel#frame_text{
    color:white;
    font-family: Bebas Neue;
    font-size: 25px;
}

QLabel#error_frame{
    background-color:#946929;
    border-radius: 10px;
    color: #5a1212;
    font-size: 11px;
    font-weight: 800;
}

QLabel#succes_frame{
    background-color: #0f4d3a;
    border-radius: 10px;
    color: white;
    font-size: 11px;
    font-weight: 800;
}

QLabel#reg_title{
    color: #0F4D3A;
    font-size: 54px;
    font-weight: 900;
    font-family: Bebas Neue;
}

QLabel#reg_logo{
    background-image: url('img/login_register/regist.png')
}
/* Edit Inputs */

QLineEdit#input_logpg{
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-family: 'Courier New';
    font-weight: 800;
    background:transparent;
    border-bottom: 1px solid whitesmoke;
}

QLineEdit#input_logpg:hover{
    border-bottom: 1.5px solid #c0c0c0;
}

QLineEdit#input_logpg:focus{
    border-bottom: 1.5px solid whitesmoke;
}

QLineEdit#frame_input{
    color: white;
    font-family: Roboto;
    font-size: 17px;
    font-weight: 700;
    background:transparent;
    border: none;
    border-bottom:1px solid #0F4D3A;
}



/* Edit Buttons */
QPushButton#btn_log{
    border-radius: 6px;
    color: #1b1b1b;
    font-weight: 900;
    background-color: whitesmoke;
}

QPushButton#btn_log:hover{
    background-color:#d4d4d4;
    color: black;
    border: 1px solid white;
}

QPushButton#year_btn{
    border-radius: 5px;
    color: white;
    background-color:#071120;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 900;
}

QPushButton#year_btn_active{
    color:red;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 900;
    background-color: #071120;
    border-radius: 5px;
}

QPushButton#switch_sem{
    color: white;
    border-radius:2px;
    background-color: #071120;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 900;
}

QPushButton#grades_btn{
    color:white;
    background-color:#0F4D3A;
    border-radius: 10px;
    font-family: Bebas Neue;
    font-size: 18px;
}
QPushButton#grades_btn_active{
    color:#531212;
    background-color:#0F4D3A;
    border-radius: 10px;
    font-family: Bebas Neue;
    font-size: 20px;
}
/* Edit Table */
QTableWidget{
    background-color:#0F4D3A;
    color: white;
    border:none;
    font-size:15px;
    border-radius: 10px;
}
/* Frame */ 

QFrame#AVG{
    background-color:#1a181b;
}

    /* DropBox */

QComboBox#drop_box{
    border: none;
    color: white;
    background-color: #0f4d3a;
    font-family: Bebas Neue;
    font-size: 18px;
}

